@page
@model BCCM1.Pages.Users.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
}

@section Scripts {
    <script>
        // Đợi cho tất cả các phần tử trong DOM được tải hoàn toàn
        document.addEventListener('DOMContentLoaded', function () {
            // Lấy navbar bằng cách sử dụng querySelector
            var navbar = document.querySelector('.navbar');
            // Ẩn thanh navbar bằng cách thêm lớp CSS 'd-none' (ẩn)
            navbar.classList.add('d-none');
        });
    </script>
}

<style>
    input[type=submit] {
        width: 100%;
        background-color: #198754;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 5vw;
        cursor: pointer;
        margin-top: 2vw;
    }

        input[type=submit]:hover {
            background-color: #198754;
        }

    form-thu {
        border-radius: 5vw;
        padding: 20px;
    }
    .underlist {
        list-style-type: none;
        margin: 1vw 0vw 0vw 2vw;
        padding: 0;
        width: 10%;
        position: fixed;
        height: 100%;
        overflow: auto
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

        li a.active {
            background-color: #04AA6D;
            color: white;
        }

        li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }
        .btn_submit{
            background-color: #4ab78d;
            border-radius: 50px;
        }

        .input{
            width: 120px;
            background-color: lightgrey;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
</style>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light ">
    <div class="container-fluid" style="margin:0vw 5vw 0vw 5vw">
        <a class="navbar-brand" asp-area="" asp-page="/Users/Homepage@Model.userInfo.id" style="width:10%; height:10%">
            <div>
                <img src="/img/logo2.png" style="float:left; max-width:40%; max-height:40%" />
            </div>
        </a>
        <div style="margin-left: auto;margin-right: 1vw;">
            @Model.userInfo.email
        </div>
        <a href="/Index"><button class="btn btn-outline-success" style="border-radius:5vw; float:right">Log out</button></a>
    </div>
</nav>

<center>
    <ul class="underlist">
        <li><a style="border-radius:2vw" href="/Users/Homepage?id=@Model.userInfo.id">Home</a></li>
        <li><a class="active" style="border-radius:2vw;margin-top:1vw" href="/Users/Transactions?id=@Model.userInfo.id">Transactions</a></li>
        <li><a style="border-radius:2vw;margin-top:1vw" href="/Users/Infor?id=@Model.userInfo.id">Information</a></li>
    </ul>
</center>


<div class="pl-4" style="background-color:#d5f7e6; margin-left:14%; height: 100vh">

    <div class="form-addTrans">
    <form method="post">
        <div class="d-flex flex-row w-100 justify-content-between p-2 pt-3">
            <input type="hidden" name="id" value="@Model.userInfo.id" />
            <div class="col-5">
                <div class="input-group mb-3">
                    <span class="input d-flex align-items-center justify-content-center" id="basic-addon1">Amount</span>
                    <input type="text" class="form-control" name="amount" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input d-flex align-items-center justify-content-center" id="basic-addon1">Categories</span>
                    <select type="text" class="form-control" name="cateId" aria-label="Username" aria-describedby="basic-addon1">
                        @for (int i = 0; i < Model.listCate.Count; i++)
                        {
                            <option value="@Model.listCate[i].cateId">@Model.listCate[i].cateName</option>
                        }    
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input d-flex align-items-center justify-content-center" id="basic-addon1">Transaction Date</span>
                    <input type="date" id="transaction" name="transDate" value="MM-dd-yyyy">
                </div>
                <div class="input-group mb-3">
                    <span class="input d-flex align-items-center justify-content-center" id="basic-addon1">Description</span>
                    <input type="text" class="form-control" name="description" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <button type="submit" class="btn_submit btn-success w-25">Submit</button>
            </div>
                <img class="w-50 col-5" src="/img/thu_chi.jpg"/>
        </div>
    </form>
    </div>
    
    <div class="col-12 p-2 mt-2">
        <table class="table table-succes table-striped-colums">
            <thead>
                <tr>
                    <th colspan="1" scope="col">ID</th>
                    <th colspan="2" scope="col">Amount</th>
                    <th colspan="2" scope="col">Type</th>
                    <th colspan="2" scope="col">Categories</th>
                    <th colspan="2" scope="col">Date</th>
                    <th colspan="2" scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Model.transCates.Count;i++)
                {
                    var item = Model.transCates[i];
                    <tr>
                    <th colspan="1" scope="row">@(i+1)</th>
                    <td colspan="2">@item.amount</td>
                    <td colspan="2">@item.transType</td>
                    <td colspan="2">@item.cateName</td>
                    <td colspan="2">@item.transDate</td>
                    <td colspan="2">@item.description</td>

                </tr>
                }             
            </tbody>
        </table>
    </div>


</div>
